{% extends "master_template.html" %}

{% block content %}
    {% if reports %}
        <!--Datatables style-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
        <!-- Datatables js-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <!-- Datable function js -->
        <script>
            $(document).ready( function () {
                $('#report').DataTable({
                    "responsive": true,
                    "columns":[
                        {"data":"ID DE REPORTE"},
                        {"data":"FECHA DE REPORTE"},
                        {"data":"HORA DE REPORTE"},
                        {"data":'btn'}
                    ],
                    "language":{
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros.",
                        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "infoFiltered": "(Filtrando de un total de _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sProcessing": "Procesando..."
                    },
                    "lengthMenu": [[-1, 10, 25, 50], ["Todos", 10, 25, 50]]
                });
            } );
        </script>
        <div class="card bg-light border-secondary mb-3">
            <div class="card-header text-center bg-secondary border-success text-white">
                LISTADO DE REPORTES
            </div>
            <div class="card-body">
                <p><strong>Curso: </strong><em>{{ courseName }}</em></p></h6>
                <p><strong>ID: </strong><em>{{ courseID }}</em></p></h6>
                <div class="table-responsive-sm">
                    <table id="report" class="table table-sm table-hover">
                        <thead class="thead-light">
                            <th scope="col">ID DE REPORTE</th>
                            <th scope="col">FECHA DE REPORTE</th>
                            <th scope="col">HORA DE REPORTE</th>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td>{{ report.id }}</td>
                                    <td>{{ report.reportDate }}</td>
                                    <td>{{ report.reportTime }}</td>
                                    <td>
                                        <a href="/view_details/{{ report.id }}" class="btn btn-outline-info">
                                            Detalles
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <form action="/index">
                            <button class="btn btn-outline-dark btn-sm">
                                Regresar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}