{% extends "master_template.html" %}

{% block content %}
    <ul>
        {% for detail in report %}
            {% for chapter in detail.value.detailChapters %}
                <li>  
                    {{ chapter.chapterName }}
                    {% if chapter.sections %}
                        <ul>
                            {% for section in chapter.sections %}
                                <li>
                                    {{ section.sectionName }} 
                                    <ul>
                                        {% for subsection in section.subsections %}
                                            {% if subsection %}
                                                <li>
                                                    {{ subsection.subsectionName }}
                                                    {% if subsection.errors %}
                                                        <ul>
                                                            {% for error in subsection.errors %}
                                                                <li>
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ error.errorName }}
                                                                        <ul>
                                                                            {% for url in error.urls %}
                                                                                <li>
                                                                                    {{ url }}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>                                        
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% if section.emptyContent %}
                                        <div class="alert alert-danger" role="alert">
                                            Contenido vacio
                                        </div>
                                    {% endif %}
                                    
                                    {% if section.errors %}
                                        {% for error in section.errors %}
                                            <li>
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error.errorName }}
                                                    <ul>
                                                        {% for url in error.urls %}
                                                            <li>
                                                                {{ url }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}